{% extends 'base/base.html' %}
{% csrf_token %}
{% block content %}
<section class="main-content-wrapper">
   <section id="main-content">
       <div class="row">
           <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                   <li><a href="#">Almacen</a>
                   </li>
                   <li>Marcas</li>
                   <li class="active">Lista</li>
               </ul>
               <!--breadcrumbs end -->
              <h1 class="h1">Hola prro x3</h1>
           </div>
       </div>

   </section>
</section>
{% endblock %}
