<div class="modal-dialog modal-lg">
        <div class="modal-content">
                <form  method="post">
                  <div class="modal-body">
                                {% csrf_token %}
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                {{ form.as_p }}
                                        </div>
                                </div>
                  </div>
                  <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                                </div>
                        </div>
                </form>
        </div>
</div>
