<div class="modal-dialog modal-lg ">
        <div class="modal-content">
                <form role="form" method="post" action="{% url 'comercial:eliminar_cliente' object.pk %}">
                    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>¿Estas seguro que quieres eliminar el proveedor?.</h3>
            </div>
            <div class="modal-body">
                                {% csrf_token %}
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                          <div class="col-lg-4">
                                            <label>NOMBRE:</label>
                                            <p>{{ object.nombre }}</p>
                                            <label>APELLIDO:</label>
                                            <p>{{ object.apellido }}</p>
                                            <label>DIRECCIÓN:</label>
                                            <p>{{ object.direccion }}</p>
                                            <label>REGISTRO:</label>
                                            <p>{{ object.registro }}</p>
                                            <label>TELEFONO:</label>
                                            <p>{{ object.telefono }}</p>
                                          </div>
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                  <button type="submit" class="btn btn-danger" name="submit" value="Eliminar" >
                                          Aceptar
                                  </button>
                                  <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                                          Cancelar
                                  </button>
                                </div>
                        </div>
                </form>
        </div>
</div>
