{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Comercial Jeovany {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <!-- DataTables-->
   <link rel="stylesheet" href="{% static 'assets/plugins/dataTables/css/dataTables.css' %}">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
     <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    {% block extrastatic %}
  	{% endblock %}
    	{% block navbar %}
    <body>
    <section id="container">
                <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="{% url 'comercial:dashboard' %}" class="logo"><span>Jovany</span> S.A.</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="user-nav">
                <ul>
                      <li class="profile-photo">
                        <img src="assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      {{user.username}}<i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-calendar"></i> Calendar</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge badge-danager" id="user-inbox">5</span></a>
                            </li>
                            <li>
                                <a href="{% url 'comercial:salir' %}"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                    </ul>
            </div>
        </header>

        <!--sidebar start-->
        <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
        <li >
            <a href="{% url 'comercial:dashboard' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
        </li>
         <li class="sub-menu ">
            <a href="javascript:void(0);"><i class="fa fa-file"></i><span>Almacen</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><a href="{% url 'comercial:productos' %}">Productos</a></li>
                <li><a href="{% url 'comercial:categoria' %}">Categorias</a></li>
                <li><a href="{% url 'comercial:marca' %}">Marcas</a></li>
                <li><a href="{% url 'comercial:proveedor' %}">Proveedores</a></li>
                <li><a href="{% url 'comercial:listado_compras' %}">Compra</a></li>
            </ul>
            </li>
            <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-file"></i><span>Venta</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li><a href="{% url 'comercial:listado_clientes' %}">Cliente</a></li>
              <li><a href="{% url 'comercial:venta_list' %}">Ventas</a></li>
              <li><a href="{% url 'comercial:nuevo_usuario' %}">Nuevo Usuario</a></li>
            </ul>
        </li>
        <li class="sub-menu">
        <a href="javascript:void(0);"><i class="fa fa-file"></i><span>Inventario</span><i class="arrow fa fa-angle-right pull-right"></i></a>
        <ul>
          <li><a href="{% url 'comercial:inventario_list' %}">Inventario</a></li>
        </ul>
    </li>
    </ul>
</div>

        </aside>
{% block content %}
        <section class="main-content-wrapper">
           <section id="main-content">
               <div class="row">
                   <div class="col-md-12">
                       <!--breadcrumbs start -->
                       <ul class="breadcrumb">
                           <li><a href="#">Dashboard</a>
                           </li>
                           <li>Pages</li>
                           <li class="active">Blank Page</li>
                       </ul>
                       <!--breadcrumbs end -->
                      <h1 class="h1">Blank Page</h1>
                   </div>
               </div>

           </section>
        </section>
          {% endblock %}
        {% endblock %}
	{% block footer %}
  {% block extrajs %}
        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/plugins/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'assets/js/application.js'%} "></script>
        <script src="{% static 'assets/plugins/dataTables/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'assets/plugins/dataTables/js/dataTables.bootstrap.js'%}"></script>
        <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
        <script>
        var table = $('#example').DataTable({
        columnDefs: [
        {"className": "dt-center", "targets": "_all"}
        ],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No se encontraron resultados en su busqueda",
            "searchPlaceholder": "Buscar registros",
            "info": "Mostrando registros de _START_ al _END_ de un total de  _TOTAL_ registros",
            "infoEmpty": "No existen registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar: ",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        }

        });
        </script>
        <script>
function abrir_modal(url) {
        $('#popup').load(url, function()
        {
        $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
        alert("Registro Eliminado!");
}

function cerrar_modal2()
{
        $('#popup').modal('hide');
        return false;

}

function sumar(){

    subtotal = 0;
    $("#tbventas tbody tr").each(function(){
        subtotal = subtotal + Number($(this).find("td:eq(5)").text());
    });

    $("#totalInput").val(subtotal.toFixed(2));
}
</script>
<script>

    $("#producto").autocomplete({
        minLength:2,
        source: function(req, add){
            var search=$("#producto").val();
            $.ajax({
                url:'/buscar_producto/',
                async:false,
                type: "GET",
                dataType: "json",
                data:{ 'start': search},
                success: function(data){
                            var suggestions=[];

                            $.each(data, function(index, objeto){
                                suggestions.push(objeto);
                            });
                            add(suggestions);
                        },
                        error:function(err){
                            alert("error");
                        }
            });
        }, //indica la informacion a mostrar al momento de comenzar a llenar el campo
         //caracteres que activan el autocomplete
        select: function(event, ui){
            var data = ui.item.id + "*" + ui.item.codigo + "*" + ui.item.label + "*" + ui.item.precio + "*" + ui.item.stock;
            $("#btn-agregar-producto").val(data);
        },
    });

    $("#btn-agregar-producto").on("click", function(){
        data = $(this).val();
        if (data != " "){
            infoProducto = data.split("*");
            var codigo;
            var stock;
                if (infoProducto[1] == "undefined"){
                    codigo = 0;
                    stock = 0;
                } else {
                    id = infoProducto[0];
                    codigo =  infoProducto[1];
                    nombre = infoProducto[2];
                    precio = infoProducto[3];
                    stock = infoProducto[4];
                }
                //varx++;
                //vary = 0;
                html = "<tr class='read'>";
                html += "<td><input type='hidden' class='idp' name='idProductos[]' value='"+infoProducto[0]+"'>"+codigo+"</td>"; //id y codigo
                html += "<td><input type='hidden' name='nombreProductos[]' value='"+nombre+"'>"+nombre+"</td>"; //nombre
                html += "<td><input type='hidden' class='precio' name='precios[]' value='"+precio+"'><p>"+precio+"</p></td>"; //precios
                //vary++;
                html += "<td class='stock'>"+stock+"</td>";//stock
                html += "<td><input type='number'  class='cantidades' placeholder='Ingrese numero entero' name='cantidades[]' value='1'></td>"; //cantidades

                html += "<td><input  type='hidden'class='subtotal' name='immporte[]' value='"+precio+"'><p>"+precio+"</p></td>"; //immportes
                html += "<td><button type='button' class='btn btn-danger btn-remove-producto'><span class='fa fa-times' style='color: #fff'></span></button></td>";
                html += "</tr>";
                $("#tbventas tbody").append(html);
                sumar();
               $("#btn-agregar-producto").val(null);
               $("#producto").val(null);
        } else {
            alert("seleccione un producto");
        }

    });

    $(document).on("click", ".btn-remove-producto", function(){
        $(this).closest("tr").remove();
        sumar();
    });
    $(document).on("click","#btnsave",function(){
      leer_tabla();
    });
    $(document).on("keyup", "#tbventas input.cantidades", function(){
        cantidad = $(this).val();
        precio = $(this).closest("tr").find("td:eq(2)").text();
        importe = cantidad * precio;
        totalImporte = parseFloat(importe).toFixed(2);
        $(this).closest("tr").find("td:eq(5)").children("p").text(totalImporte);
        $(this).closest("tr").find("td:eq(5)").children("input").val(totalImporte);
        sumar();
    });
    
    function leer_tabla()
    {
      var info = "";
      var datos = '';
      info +=$("#fechaInput").val();
      info +="*"+$("#clienteInput").val();
      info +="*"+$("#totalInput").val();

      $("#tbventas .read").each(function(){
          var id = $(this).find('.idp').val();
          var precio = $(this).find('.precio').val();
          var cantidad = $(this).find('.cantidades').val();
          var subtotal = $(this).find('.subtotal').val();
          var stock = $(this).find('.stock').text();
          datos+=id+","+precio+","+cantidad+","+subtotal+","+stock+"|";
      });
      $.ajax({
          url:'/venta/',
          async:false,
          type: "GET",
          dataType: "json",
          data:{ 'start': datos, 'info': info}
      });
    }
</script>

    	{% endblock %}
      {% endblock %}
