<div class="modal-dialog modal-lg ">
        <div class="modal-content">
                <form role="form" method="post" action="{% url 'comercial:eliminar_producto' object.pk %}">
                    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>¿Estas seguro que quieres eliminar la marca?.</h3>
            </div>
            <div class="modal-body">
                                {% csrf_token %}
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                          <div class="col-lg-4">
                                            <label>Nombre:</label>
                                            <p>{{ object.nombre }}</p>
                                            <label>Descripcion:</label>
                                            <p>{{ object.descripcion }}</p>
                                            <label>Precio:</label>
                                            <p>{{ object.precio }}</p>
                                            <label>Stock:</label>
                                            <p>{{ object.stock }}</p>
                                            <label>Stock Minimo:</label>
                                            <p>{{ object.stock_min }}</p>
                                            <label>Estado:</label>
                                            <p>{{ object.estado.nombre }}</p>
                                            <label>Categoria:</label>
                                            <p>{{ object.categoria.nombre }}</p>
                                            <label>Marca:</label>
                                            <p>{{ object.marca.nombre }}</p>
                                            <label>Proveedor:</label>
                                            <p>{{ object.proveedor.nombre }}</p>
                                          </div>
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                  <button type="submit" class="btn btn-danger" name="submit" value="Eliminar" >
                                          Aceptar
                                  </button>
                                  <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                                          Cancelar
                                  </button>
                                </div>
                        </div>
                </form>
        </div>
</div>
