{% extends 'base/base.html' %}
{% csrf_token %}
{% block content %}
<section class="main-content-wrapper">
   <section id="main-content">
       <div class="row">
           <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                   <li><a href="#">Dashboard</a>
                   </li>
               </ul>
               <!--breadcrumbs end -->
           </div>


      </div>

   <div class="row">
           <div class="col-md-12">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title">Productos bajos en stock</h3>
                   <div class="actions pull-right">
                       <i class="fa fa-chevron-down"></i>
                       <i class="fa fa-times"></i>
                   </div>
                 </div>
                 <div class="panel-body">
                   <table id="example" class="table table-striped hover" cellspacing="0" width="100%">
                     <thead>
                   		<tr>
                   			<td>#</td>
                        <td>Codigo</td>
                   			<td>Nombre</td>
                   			<td>Descripcion</td>
                        <td>Stock</td>
                        <td>Estado</td>
                        <td>Categoria</td>
                        <td>Marca</td>
                        <td>Proveedor</td>

                   		</tr>
                   	</thead>
                    <tbody>
                  		{% if object_list %}
                  		{% for Producto in object_list %}
                      {% if Producto.stock <= Producto.stock_min %}
                  		<tr>
                  			<td>{{ Producto.id }}</td>
                        <td>{{ Producto.codigo }}</td>
                  			<td>{{ Producto.nombre }}</td>
                  			<td>{{ Producto.descripcion }}</td>
                  			<td><a class="label label-danger" >{{ Producto.stock  }}</a></td>
                        {% if Producto.estado_id == 1 %}
                  			<td><a class="label label-success" >Activo</a></td>
                        {% else %}
                        <td><a class="label label-danger" >Inactivo</a></td>
                        {% endif %}
                        <td>{{ Producto.categoria.nombre }}</td>
                  			<td>{{ Producto.marca.nombre }}</td>
                  			<td>{{ Producto.proveedor.nombre }}</td>
                  		</tr>
                      {% endif %}
                  		{% endfor %}
                      {% else %}
                      <h1>Prductos bajos en stock</h1>
                  		{% endif %}
                  	</tbody>
                  </table>
                  <div id="popup" class="modal fade" role="dialog">
                 </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

{% endblock %}
