 {% extends 'base/base.html' %}

 {% block content %}
<section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a>
                            </li>
                            <li>Ventas </li>
                            <li class="active">Agregar Venta</li>
                        </ul>


 <h1 class="">Ventas</h1>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos</h3>

    </div>
    <div class="panel-body">
<div class="content-wrapper">
<div class="col-md-12">
    <div class="panel panel-default">
    <section class="content">
        <!-- Default box -->
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                        <div class="col-md-12">

                        <form action="{% url 'comercial:guardarVenta' %}" method="POST" class="form-horizontal">
                            <div class="col-md-6">
                            <div class="form-group">
                                {% csrf_token %}
                                 <label for="">Fecha:</label>
                                    <input type="date" class="form-control" name="fechaInput" id="fechaInput" required>
                            </div><!-- /input-group -->
                        </div>
                            <div class="col-md-6">
                                <label for="">Cliente:</label>
                                <input type="text" class="form-control" id="clienteInput" name="clienteInput">
                                </div>


                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="">Producto:</label>
                                    <input type="text" class="form-control" id="producto" name="valor">
                                </div>
                                <div class="col-md-2">
                                    <label for="">&nbsp;</label>
                                    <button id="btn-agregar-producto" type="button" class="btn btn-success btn-flat btn-block"><span class="fa fa-plus"></span> Agregar</button>
                                </div>
                            </div>
                            <table id="tbventas" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>Cantidad</th>
                                        <th>Importe</th>
                                         <th>Eliminar</th>

                                    </tr>

                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Total:</span>
                                        <input type="text" class="form-control" name="totalInput" id="totalInput" readonly="readonly">
                                    </div>
                                </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success btn-flat" id="btnsave">Guardar</button>
                                </div>

                            </div>
                        </form>
                        </div></div></div></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
