{% extends 'base/base.html' %}
{% csrf_token %}
{% block content %}
<section class="main-content-wrapper">
   <section id="main-content">
       <div class="row">
           <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                   <li><a href="#">Almacen</a>
                   </li>
                   <li>ventas</li>
                   <li class="active">Lista</li>
               </ul>
               <!--breadcrumbs end -->
              <h1 class="h1">Nueva Venta</h1>
           </div>
      </div>

   <div class="row">
           <div class="col-md-12">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h3 class="panel-title">Detalle</h3>
                   <div class="actions pull-right">
                       <i class="fa fa-chevron-down"></i>
                       <i class="fa fa-times"></i>
                   </div>
                 </div>
                 <div class="panel-body">
                   <label>Cliente</label>
                   <select class="form-control">
                     <option>
                       {%for c in client%}
                       
                       {%endfor%}
                      </option>
                   </select>


                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

{% endblock %}
